.claude/settings.local.json
apk_finder/*/*/__pycache__/
*.log
CLAUDE.md
apk_finder/*/__pycache__/
test_*.py
apk_finder/server/tmp/
apk_finder/client/build/

apk_finder/client/dist/
apk_finder/client/dist/
apk_finder/kivy_client/.buildozer/

apk_finder/web_client/node_modules/
apk_finder/*/.env
apk_finder/web_client/dist/*
